@import "tailwindcss";

* {
  box-sizing: border-box;
  grid-area: 1 / 1 / 1 / 1;
  min-width: 0;
  text-box: trim-both cap alphabetic;
}

:root {
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000; /* Optional: black background for visibility */
}

header, main, article, section, aside, footer, div {
  display: contents;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}